<!DOCTYPE html>
<html lang="en">
<head>
    <title>Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    
</head>
<body class="container mt-5">
    <h2 class="text-center">Complete Payment</h2>
    <center>
    <button id="rzp-button1" class="btn btn-primary w-100">Pay Now (₹{{ amount / 100 }})</button>
    </center>
    <form action="/success" method="POST" id="payment-form">
        <input type="hidden" name="file_path" value="{{ file_path }}">
        <input type="hidden" name="copies" value="{{ copies }}">
        <input type="hidden" name="color" value="{{ color }}">
    </form>

    <script>
        var options = {
            "key": "{{ RAZORPAY_KEY_ID }}",
            "amount": "{{ amount }}",
            "currency": "INR",
            "order_id": "{{ order_id }}",
            "handler": function (response){
                document.getElementById("payment-form").submit();
            }
        };
        var rzp1 = new Razorpay(options);
        document.getElementById("rzp-button1").onclick = function(e){
            rzp1.open();
            e.preventDefault();
        }
    </script>
</body>
</html>
